
	<div id="forkgithub"><a href="https://github.com/vergun/sword.io.git"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a></div>
	<div class="title">
		<span class="title-sword">$ sword.io</span><br />
		<span class="subtitle-slogan">A terminal adventure game set in Arcania</span>
	</div>
	<div class="header-story-icon-list">
		<ul>
			<li class="header-story">V<span class="codewords">Play as a sorceress!</span></li>
			<li class="header-story">G<span class="codewords">Or play as a Warrior!</span></li>
			<li class="header-story">E<span class="codewords">Learn Powerful Spells!</span></li>
			<li class="header-story">g<span class="codewords">Conquer your enemies!</span></li>
			<li class="header-story">l<span class="codewords">Fireballs, heal spells, and more!</span></li>
			<li class="header-story">P<span class="codewords">Sword hack and slash action!</span></li>
			<li class="header-story">l<span class="codewords">Be the hero that saves the day!</span></li>
			<li class="header-story">p<span class="codewords">Get to Level 60!</span></li>
			<li class="header-story">w<span class="codewords">Meet monsters, heroes, and friends!</span></li>
		</ul>
	</div>

	<div class="content">
		<ul class="promptwords">
			<li><span class="white">Play as a Sorceress!</span><br/><br/>Welcome to the world of Arcania.<br/>Would you like to play as a warrior or sorceress? <span class="white">S</span></li>
			<li><span class="white">Or play as a Warrior!</span><br/><br/>Welcome to the world of Arcania.<br/>Would you like to play as a warrior or sorceress? <span class="white">W<span></li>
			<li><span class="white">Learn powerful spells!</span><br/><br/>Earth Fairie: I will help you.<br/>Earth Fairie joins your party.</span><br /><span class="red">You learn the spell roots!</span></li>
			<li><span class="white">Conquer your enemies!</span><br/><br/>You won the battle!</br>You gain 137 experience and 461 gold.</li>
			<li><span class="white">Fireballs, heal spells, and more!</span><br/><br/>0. Go back<br/>1. Inspect<br/>Reveals an enemy's remaining vitality and weaknesses. 0 Magic.<br/> 2. Heal<br/>	Restores up to 100 of your vitality. 10 Magic.<br/> 3. Fireball<br/>	A fireball deals up to 20 damage to your enemy. 1 Magic.</li>
			<li><span class="white">Sword hack and slash action!</span><br/><br/>The monster has two arms and a giant head with beady eyes.<br/>You think it strange this monster is here and so close to your village.</li>
			<li><span class="white">Be the hero that saves the day!</span><br/><br/><span class="red">Critical strike! You dealt 256 damage!</span></li>
			<li><span class="white">Get to level 60!</span><br/><br/><span class="red">You reached level 60!<br/>You gained 5 attribute points!</span><br/>Your vitality and magic are restored!<br/>You won the battle!<br/>You gained 123 experience and 204 gold.</li>
			<li><span class="white">Meet monsters, heroes, and friends!</span><br/><br/>Figaro: In the village I gave you a gift.<br/>Figaro: Now I feel a dark presence drawing closer to our village.</li>
		</ul>
	</div>

	<div class="exclamation">Some people read history, others create it.<br/></div>