@import "compass";
@import "pages";
@include font-face("HeydingsControlsRegular", font-files("heydings_controls-webfont.eot", "heydings_controls-webfont.eot?#iefix", "heydings_controls-webfont.woff", "heydings_controls-webfont.ttf", "heydings_controls-webfont.svg#HeydingsControlsRegular"));
@include font-face("SilkscreenNormal", font-files("slkscr-webfont.eot", "slkscr-webfont.eot?#iefix", "slkscr-webfont.woff", "slkscr-webfont.ttf", "slkscr-webfont.svg#SilkscreenNormal"));
@include font-face("SilkscreenBold", font-files("slkscrb-webfont.eot", "slkscrb-webfont.eot?#iefix", "slkscrb-webfont.woff", "slkscrb-webfont.ttf", "slkscrb-webfont.svg#SilkscreenNormal"));
@include font-face("SilkscreenExpandedNormal", font-files("slkscre-webfont.eot", "slkscre-webfont.eot?#iefix", "slkscre-webfont.woff", "slkscre-webfont.ttf", "slkscre-webfont.svg#SilkscreenNormal"));
@include font-face("SilkscreenExpandedBold", font-files("slkscreb-webfont.eot", "slkscreb-webfont.eot?#iefix", "slkscreb-webfont.woff", "slkscreb-webfont.ttf", "slkscreb-webfont.svg#SilkscreenNormal"));

$light: #eaeaea;
$white: #fff;
$dark: #262626;
$blue: #0066ff;

body {
background: $light;
}
footer {
padding: 10%;
text-align: center;
color: $dark;
}
footer a {
color: $blue;
text-decoration: none;
}
footer a:hover {
border-bottom: 1px solid $blue;
}
