	/*fonts*/
$wingdings: 'HeydingsControlsRegular';
$computerfont: 'SilkscreenNormal';
$grey: grey;
$yellow: yellow;
$blue: #0066ff;
$green: #b9fe7d;
$orange: #ff8a00;
$red: #ff29ff;
$purple: #9600ff;
$black: black;
$white: #fff;
$dark: #262626;
$light: #eaeaea;
$fontsize: 26px;
$fontsize_title: 100px;
$fontsize_large: 40px;
$fontsize_small: 18px;
$default-rotate: 10deg;
$textshadow: rgba(0,0,0,0.8) 0 20px 35px;
#forkgithub {
visibility:hidden;
}
.white {
color: $white;
}
.red {
color: $red;
}
.title {
text-align: center;
padding: 5%;
}
.title-sword, .subtitle-slogan {
font: normal $fontsize_title $computerfont;
visibility: hidden;
color: $dark;
}
.subtitle-slogan {
display: block;
font: normal $fontsize $computerfont;
margin-top: 2%;
}
.header-story-icon-list{
text-align: center;
visibility: hidden;
}
.header-story-icon-list ul {
position: absolute;
list-style: none;
}
.header-story-icon-list ul li {
position: relative;
font: normal $fontsize_large $wingdings;
padding: 5%;
margin: 5%;
}
.header-story-icon-list ul li:hover {
color: $white;
text-shadow:rgba(0,0,0,0.8) 0 20px 35px;
}
.content {
position: relative;
visibility:hidden;
border: 1px solid rgba(0, 0, 0, .5);
background: $dark;
color: $yellow;
height: 500px;
width: 80%;
left: 10%;
border-radius: 0 0 5px 5px;
font: normal $fontsize_small $computerfont;
-webkit-box-shadow: 2px 2px 3px #afafaf;
-moz-box-shadow: 2px 2px 3px #afafaf;
box-shadow: 2px 2px 1px #afafaf;
}
.content ul {
list-style: none;
}
.content::before {
content: ".";
text-indent: -9999em;
display: block;
border: 1px solid #999;
border-bottom: 1px solid #777;
position: absolute;
top: -21px;
left: -1px;
right: -1px;
height: 20px;
font-size: 1px;
line-height: 1px;
background: -webkit-gradient( linear, left bottom, left top, color-stop(0, #999), color-stop(0.98, #CCC), color-stop(0.99, white) );
border-radius: 5px 5px 0 0;
}
.promptwords li {
display:none;
position: absolute;
padding: 5%;
color: $yellow;
font: normal $fontsize $computerfont, Georgia, serif;
}
.header-story-icon-list li:hover{
	cursor:pointer;	
}
.codewords{
display:none;
position:absolute;
top:5px;
left:140%;
padding:10px;
border-radius:5px;
background:$dark;
font: normal 20px $computerfont, Georgia, serif;
z-index: 1;
}
.codewords:after {
display:block;
position:absolute;
top:10px;
left:-10px;
width: 0;
height: 0;
content:".";
text-indent:-9999em;
border-right: 10px solid $dark;
border-bottom: 10px solid transparent;
border-top: 10px solid transparent;
}
.exclamation {
display: none;
position: relative;
font: normal $fontsize $computerfont;
text-align: center;
padding: 5%;
margin-top: 5%;
background: $white;
}